<div id='page_title', align='center'>
  <h1>Editar intervalo de volume</h1>
</div>

<%= render 'form' %>

<div id ='back_link', align='center'>
  <%= link_to 'Voltar', @volume_range.shipping_company %>
</div>