<div id='page_title', align='center'>
  <h1>Cadastrar transportadora</h1>
</div>

<%= render 'form' %>

<div id ='back_link', align='center'>
  <%= link_to 'Voltar', shipping_companies_path %>
</div>
